<!-- Modal -->
<div class="modal fade" id="cartpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="exampleModalLabel">Your Order Details</h2>
      </div>
      <div class="modal-body">
        <section class="orderListItems">
          <div class="item">
            <img src="http://via.placeholder.com/125x125">
            <button type="button" class="close" aria-label="Close" style="margin-right: 10px;">
              <span aria-hidden="true" class="remove" style="font-size: 16px;">Remove &times;</span>
            </button>
            <h5>Burger and Fries</h5>
            <p>House made bun, lettuce, tomato, onions, ketchup, mustard, pickles and bacon.</p>
            <p>Price: $10.99</p>
            <form>QTY:  <input type="text" name="quantity" value="1" style="width: 30px;"></form>
          </div>
        </section>
        <section class="orderListItems">
          <div class="item">
            <img src="http://via.placeholder.com/125x125">
            <button type="button" class="close" aria-label="Close" style="margin-right: 10px;">
              <span aria-hidden="true" class="remove" style="font-size: 16px;">Remove &times;</span>
            </button>
            <h5>Burger and Fries</h5>
            <p>House made bun, lettuce, tomato, onions, ketchup, mustard, pickles and bacon.</p>
            <p>Price: $10.99</p>
            <form>QTY:  <input type="text" name="quantity" value="1" style="width: 30px;"></form>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <div class="pricing">
          <h5>HST: 15% </h5>
          <h5>Tax: $1.50</h5>
          <h5>Total Price: $10.99</h5>
        </div>
         <form class="coupon">
         Coupon Code:<input type="text" name="firstname">
         <input type="submit" class="btn btn-primary" value="Activate">
        </form>
        <button type="button" class="btn btn-primary prog" data-toggle="modal" data-dismiss="modal" data-target="#progresspopup"><i class="fa fa-spinner" aria-hidden="true"></i> My Order Progress</button>
        <button type="button" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Confirm My Order</button>
      </div>
    </div>
  </div>
</div>
