<!-- Modal -->
<div class="modal fade" id="progresspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="exampleModalLabel">Your In progress Order</h2>
      </div>
      <div class="modal-body">
        <div class="order">
          <div class="orderinfo">
            <h5>Order ID: 123</h5>
            <h5>HST: 15% </h5>
            <h5>Tax: $1.50</h5>
            <h5>Total Price: $10.99</h5>
            <h4>Pickup Time: 2:00pm</h5>
          </div>
          <div class="options">
            <button type="button" class="btn btn-primary">Modify My Order</button>
            <button type="button" class="btn btn-primary">Cancel My Order</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
