<section id="header">
  <section id="headInfo">
    <button type="button" class="cartbtn" data-toggle="modal" data-target="#cartpopup">Your Order<i class="cart fa fa-cart-arrow-down" aria-hidden="true"></i></button>
    <h1>SUBER</h1>
    <p>Making your meals easy</p>
  </section>
</section>
