<!DOCTYPE html>
<html>
<head>

</head>
<header>
  <% include ../partials/header %>
  <nav>
    <ul>
      <li><a href="">Create Menu</a></li>
      <li><a href="">Modify a Menu</a></li>
      <li><a href="">Delete a Menu</a></li>
      <li><a href="">Your order(s) History</a></li>
</header>
<body>
</body>
</html>
