<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- CSS -->
  <link href="/styles/landing.css" rel="stylesheet" type="text/css">
  <link href="/styles/buttons.css" rel="stylesheet" type="text/css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Katibeh" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body class="bg">
  <div class="mainhead">
    <h1>Welcome to SUBER</h1>
    <h3>The best platform for ordering your meals</h3>
  </div>
  <div class="userAction">
    <a href="/customer/menus"class="btn-sm animated-button victoria-one">Build my Order</a>
    <p>Are you a Vendor?<a href="/vendor/menusaux" class="vendor">Login Here</a></p>
  </div>
</body>

<script src="../public/scripts/landing.js"></script>
</html>
