<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <section id="menu_items">
      <div class="row">
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p>Menu Item description</p>
            <p class="info">- Item Category</p>
            <p class="info">- Dietary info</p>
            <p class="info">Price: $10.99</p>
            <button>Add to Order</button>
          </div>
        </div>
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p>Menu Item description</p>
            <p class="info">- Item Category</p>
            <p class="info">- Dietary info</p>
            <p class="info">Price: $10.99</p>
            <button>Add to Order</button>
          </div>
        </div>
        <div class="card">
          <img src="http://via.placeholder.com/275x150">
          <div class="card_body">
            <p>Menu Item description</p>
            <p class="info">- Item Category</p>
            <p class="info">- Dietary info</p>
            <p class="info">Price: $10.99</p>
            <button>Add to Order</button>
          </div>
        </div>
      </div>
  </section>
  </body>
</html>
