<head>
  <title></title>
  <!-- CSS -->
  <link href="/styles/landind.css" rel="stylesheet" type="text/css">
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Katibeh" rel="stylesheet">
</head>
