<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vendor Menus</title>

    <!-- CSS/Vendor CSS cdn's -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/user/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/buttons.css" type="text/css" />
    <link href="/styles/header.css" rel="stylesheet" type="text/css" />
    <link href="/styles/user/order.css" rel="stylesheet" type="text/css" />


    <!-- CDNS (bootstrap,jquery,fontaweseom) -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!--  Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/appaux.js"></script>
  </head>

  <body>
    <header>
      <% include ./partials/vendor/header.ejs %>
      <% include ./partials/user/myorder.ejs %>
      <% include ./partials/user/orderprogress.ejs %>
        <nav id="nav">

          <ul class="menu_list">
<button type="button" class="addMenu" > Add a new menu</button>
          <% menus.forEach(function(menu) { %>
              <li class="menu" id=`"menu_<%= menu.id %>">
                <a href="/vendor/menusaux/<%= menu.id %>"><%= menu.name %></a>


              </li>

          <% }); %>

          </ul>
        </nav>
    </header>
    <section id="menu_items">


        <form action="/vendor/menusaux" method="POST">
          <textarea name="menuname"  placeholder="name"></textarea>
          <textarea name="menudesc" placeholder="description"></textarea>
          <textarea name="menucat"  placeholder="category"></textarea>

          <input type="submit" value="Make Menu">

        </form>



        </h1>

      <!-- This include is what shows the item pop up -->
       <div class="line">


  </section>
  </body>
</html>


