<section id="header">
  <section id="headInfo">
    <button type="button" class="cartbtn" data-toggle="modal" data-target="#cartpopup">Your Order<i class="cart fa fa-cart-arrow-down" aria-hidden="true"></i></button>
    <h1>SUBER</h1>
    <p>Making your meals easy</p>
<a href="/customer/menus"><button type="button" class="vendorMenus" >goto customer menus</button></a>
<a href="/customer/customer"><button type="button" class="Customer Profile" >goto customer profile</button></a>
<a href="/customer/orders"><button type="button" class="vendorOrder" >goto customer orders</button></a>
<a href="/aux"><button type="button" class="vendorOrder" >customer logout</button></a>
<button type="button" class="vendorCustomers" >goto vendor customers</button>
  </section>
</section>