<section id="header">
  <section id="headInfo">
    <button type="button" class="cartbtn" data-toggle="modal" data-target="#cartpopup">Your Order<i class="cart fa fa-cart-arrow-down" aria-hidden="true"></i></button>
    <h1>SUBER</h1>
    <p>Making your meals easy</p>
  </section>
</section>
<section id="headernav">
<a href="/customer/menus" class="headnav" style="width: 200px; display: inline-block;">Customer Menus</a>
<a href="/customer/customer" class="headnav" style="width: 200px; display: inline-block;">Your Profile</a>
<a href="/customer/orders" class="headnav" style="width: 200px; display: inline-block;">Your Orders</a>
<a href="" class="headnav" style="width: 200px; display: inline-block;">Vendor Customers</a>
<a href="/aux" class="headnav" style="width: 200px; display: inline-block;">Logout</a>
</section>
