<section id="header">
  <section id="headInfo">
    <button type="button" class="cartbtn" data-toggle="modal" data-target="#cartpopup">Your Order<i class="cart fa fa-cart-arrow-down" aria-hidden="true"></i></button>
    <h1>SUBER</h1>
    <p>Making your meals easy</p>
<a href="/customer/menus" class="btn-sm animated-button victoria-one" style="width: 200px; display: inline-block;">go to customer menus</a>
<a href="/customer/customer" class="btn-sm animated-button victoria-one" style="width: 200px; display: inline-block;">goto customer profile</a>
<a href="/customer/orders" class="btn-sm animated-button victoria-one" style="width: 200px; display: inline-block;">goto customer orders</a>
<a href="/aux" class="btn-sm animated-button victoria-one" style="width: 200px; display: inline-block; height: 73px;">customer logout</a>
<a href="" class="btn-sm animated-button victoria-one" style="width: 200px; display: inline-block;">goto vendor customers</a>
  </section>
</section>
