$abril: 'Abril Fatface', cursive;
button.custombtn {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  float: right;
}
h1.menuname {
  text-align: center;
  margin-bottom: 30px;
  font-family: abril;
}
p.description {
  text-align: center;
  padding-bottom: 10px;
}
div.line {
  text-align: center;
  .card {
    width: 300px;
    height: 400px;
    border-style: solid;
    border-color: black;
    border-radius: 0px 0px 0px;
    display: inline-block;
    vertical-align: top;
    background-color: white;

      img {
        width: 100%;
      }
      .name {
        text-align: center;
        font-size: 20px;
      }
  }
  .card_body {
    p {
      text-align: center;
    }
    p.info {
      text-align: left;
      margin-left: 5px;
    }
    p.desc {
      text-align: center;
    }
  }
}
nav {
   margin-bottom: 50px;
   opacity: 0.7;
    ul {
     text-align: center;
     padding-left: 0;
    li {
      list-style: none;
      display: inline;
      font-size: 20px;
      padding: 20px;
    }
  }
 }
.description {
  font-size: 20px;
  text-align: center;
}
.menuname {
  text-decoration: underline;
  font-family: abril;
}
.orderqty {
  margin-top: 40px;
  width: 50%;
}
.makefoodtext {
  width: 300px;
  display: block;
  margin-left: 650px;
  margin-bottom: 5px;
}
#create_item {
  background-color: white;
}
#update_item {
  text-align: center;
  margin-bottom: 50px;
}
