div .item {
  border-top: solid #bdbec1 2px;
  border-bottom: solid #bdbec1 2px;
  height: 150px;
  width: 100%;
  margin-bottom: 5px;

    h5 {
      text-decoration: underline;
    }
    img {
      float: left;
      padding-top: 5px;
      padding-right: 10px;
    }
}
.pricing h5 {
  text-align: left;
}
.coupon {
  margin-bottom: 50px;
  text-align: left;
}
.prog {
  float: left;
}
.order {
  border-top: solid #bdbec1 2px;
  border-bottom: solid #bdbec1 2px;
  width: 100%;
  margin-bottom: 5px;
}
.options {
  margin-bottom: 5px;
}
