$abril: 'Abril Fatface', cursive;
#header {
  background-image: url("/visuals/images/headbg.jpg");
  height: 300px;
  margin-bottom: 5px;
  border-bottom: solid black 10px;
}
button.cartbtn {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  margin-left: 1250px;
  color: white;
}
#headInfo {
  font-family: abril;
  text-align: center;
  color: white;
  padding-top: 40px;
  p {
    font-size: 25px;
  }
  i {
    font-size: 22px;
  }
}
